/* Drill 1 - Write your code solution below */
#d1-div1 {
    display:inline-block
}

#d1-div2 {
    display:inline-block
}

#d1-div3 {
    display:inline-block
}


/* Drill 2 - Write your code solution below */
.d2-span {
    display:block;
}
    



/* Drill 3 - Write your code solution below */
#d3-div1 {
    display: inline-block;
    width: 120px;
}

#d3-div2{
    display: inline-block;
    width: 120px;
}

#d3-div3 {
    display: inline-block;
    width: 120 px;
}

#d3-div4 {
    display: inline-block;
    width: 120px;
}

#d3-div5{
    display: inline-block;
    width: 120px;
}

#d3-div6{
    display: inline-block;
    width: 120px;
}

#d3-div7{
    display: inline-block;
    width: 120px;
}

/* Drill 4 - Write your code solution below */
.d4-div {
    display: inline-block;
}
    

/* Drill 5 - Write your code solution below */
.d5-div {
    display: inline-block;
}

#d5-div1 {
    width: 240px;
}

#d5-div2 {
    display: inline-block;
    width: 240px;
}


/* Drill 6 - Write your code solution below */
#d6-div2 {
    display: inline-block;
    width: 240px;
}

#d6-div3 {
    display: inline-block;
    width: 240px;
}
