* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
}

.card {
    width: 350px;
}

.card img {
    width: 100%;
}

.card h2 {
    font-size: 36px;
    margin-top: 12px;
}

.card p {
    font-size: 18px;
}

.card {
    width: 350px;
    border: 2px solid #ffe4da;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px4px 12px #ceaaaa;
}

.card img {
    width: 100%;
}

.card img {
    font-size: 36px;
    margin-top: 12px;
}

.card p {
    font-size: 18px;
}

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
}

.card {
    width: 350px;
    border: 2px solid #ffe4da;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px4px 12px #ceaaaa;
    background: linear-gradient(-50deg,#ffdbdb,#fff7f7,#ffc9c9);
}

.card img {
    width: 100%;
}

.card h2 {
    font-size: 36px;
    margin-top: 12px;
}

.card p {
    font-size: 18px;
}

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin-top: 48px auto;
}

.card {
    width: 350px;
    border: 2px solid #ffe4da;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px4px 12px #ceaaaa;
    background: linear-gradient(-50deg,#ffdbdb,#fff7f7,#ffc9c9);
}

.card {
    width: 100%;
}

.card h2 {
    font-size: 36px;
    margin-top: 12px;
}

.card p {
    font-size: 18px;
}

.card a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: lightcoral;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
}

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
}

.card {
    width: 350px;
    border: 2px solid #ffe4da;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px4px 12px #ceaaaa;
    background: linear-gradient(-50deg,#ffdbdb,#fff7f7,#ffc9c9);
}

.card img {
    width: 100%;
}

.card h2 {
    font-size: 36px;
    margin-top: 12px;
}

.card p {
    font-size: 18px;
}

.card a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: lightcoral;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.card a:hover {
    background-color: transparent;
    border: 3px solid lightcoral;
    color: lightcoral;
}

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
}

.card {
    width: 350px;
    border: 2px solid #ffe4da;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 10px;
    background: linear-gradient(-50deg,#ffdbdb,#fff7f7,#ffc9c9);
}

.card img {
    width: 100%;
}

.card h2 {
    font-size: 36px;
    margin-top: 12px;
}

.card p {
    font-size: 18px;
}

.card a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: lightcoral;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 3px solid lightcoral;
    transition: background-color .5s, color .5s;
}

.card a:hover {
    background-color: transparent;
    color: lightcoral;
}

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

.card img {
    width: 100%;
}

.card h2 {
    font-size: 36px;
    margin-top: 12px;
}

.card p {
    font-size: 18px;
}

.card a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: lightcoral;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 3px solid lightcoral;
    transition: background-color .5s, color .5s;
}

.card a:hover {
    background-color: transparent;
    color: lightcoral;
}

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

.card {
    width: 350px;
    border: 2px solid #ffe4da;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px4px 12px #ceaaaa;
    background: linear-gradient(-50deg,#ffdbdb,#fff7f7,#ffc9c9);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card h2 {
    font-size: 36px;
    margin-top: 12px;
}

.card p {
    font-size: 18px;
}

.card a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: lightcoral;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 3px solid lightcoral;
    transition: background-color .5s, color .5s;
}

.card a:hover {
    background-color: transparent;
    color: lightcoral;
}

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

.card {
    width: 350px;
    border: 2px solid #ffe4da;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px4px 12px #ceaaaa;
    background: linear-gradient(-50deg,#ffdbdb,#fff7f7,#ffc9c9);
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card p {
    font-size: 18px;
    flex: 1;
}

.card a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 3px solid lightcoral;
    transition: background-color .5s, color .5s;
}

.card a:hover {
    background-color: transparent;
    color: lightcoral;
}



