/* Drill 1 - Write your code solution below */
div.orange p {
    color:limegreen;
}



/* Drill 2 - Write your code solution below */
.d3-div {
    color: crimson;
}



/* Drill 3 - Write your code solution below */
.div {
    color: magenta;
}



/* Drill 4 - Write your code solution below */
div.shadow {
    background-color: skyblue;
}



/* Drill 5 - Write your code solution below */
.div dog-days img {
    border-radius: 50%
}


