@media screen and (max-width: 768px) and (min-width: 481px) {
    body {
        background-color: skyblue;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}