#license {
    width: 700px;
    border: 3px solid black;
}

 h1{
    border: 3px solid red;
}

#left-side {
    border: 3px solid red;
    display: inline-block;
    width: 65%
}

#right-side {
    border: 3px solid red;
    display: inline-block;
    
}

#data-fields{
    display: inline-block;
}

#small-pic {
    display: inline-block;
    border: 3px solid green;
}

#content {
    color: rgb(0, 0, 0);
}

#data-fields {
    color: midnightblue;
}

h4 {
    color:white;
}

h4 {
    background-color: midnightblue;
}

#signature {
    color:black;
}

#license.no {
    color:midnightblue;
}

h1 {
    color:midnightblue;
}

#donor-and-real-id {
    color:red;
}

#id-and-expiration div{
    display: inline-block;
}

#data-left {
    border: 3px solid skyblue;
    display: inline-block;
}

#data-right {
    border: 3px solid skyblue;
    display: inline-block;
}

#donor {
    border: 3px solid skyblue;
    display: inline-block;
    
}

#real-id {
    border: 3px solid skyblue;
    display: inline-block;
}

#signature {
    text-align: center;
}

#real-id {
    color:gold;
    
}

#license {
    background-color:slategrey;

}

#data-left span {
    color: red;
}

#data-fields span {
    color: red;
}

#id-and-expiration span{
    color: red;
}

#real-id {
    border: 0px solid;
}

#donor {
    border: 0px;
}

#data-right {
    border: 0px solid;
}

#data-left {
    border: 0px solid;
}

#right-side {
    border: 0px solid;
}

#left-side {
    border: 0px solid;
}








