* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: radial-gradient(beige,peachpuff);

}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
}

#header {
    grid-area: header;
    padding: 0px 36px;
}

#header a {
    text-decoration: none;
}

#header me {
    color: black;
}

#header #tube {
    background-color:crimson;
    color: white;
    padding: 4px;
    border-radius: 12px;
}

#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;
}

#sidebar ul {
    list-style-type: none;
    padding: 12px 0px;
    margin: 0px;
    border-bottom: 1px solid grey;
}

#sidebar ul a {
    text-decoration: none;
    color: black;
    padding: 12px 0px;
    display: block;
}

#sidebar ul a:hover {
    background-color: rgb(192, 192, 192);
    border-radius: 12px;
}

#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.house-decorations {
    color: black;
}

.mebay-item .thumbnail-placeholder {
    background: radial-gradient(at top left, crimson, rgb(101, 1, 1));
    aspect-ratio: 16 / 9;
    border-radius: 8px;
}

mebay-item h4 {
    margin: 8px;
}

.mebay-item h4 a {
    text-decoration: none;
    color: #111111;
    display: block;
}

.mebay-item h4 a:hover {
    text-decoration: underline;
}

.mebay-item .video-details {
    margin: 8px;
    font-size: 14px; 
}

