* {
    box-sizing: border-box;
}

card-style-1 {
    max-width: 100%;
    max-width: 200px;
}

.card-style-2 {
    width: 100%;
    max-width: 100%;
    text-align: center;
}

centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
}