* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    display: flex;
    align-items: center;
    background-image:url("../images/stars.jpg");
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar a:hover {
    background: linear-gradient(to top, plum, lavender);
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
}

#navbar .dropdown-menu a:hover {
    background: plum;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background: lavender;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: lavender;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s, visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 200px 500px 200px 1fr;
    margin-top: 36px;
    grid-template-areas: ".left-sidebar main-area right-sidebar.";
}

#sidebar-column-1 h2,
#sidebar-column-2 h3 {
    border-bottom: 2px solid #aaaaaa;
    padding-bottom: 8px;
}

#sidebar-column-1 ul,
#sidebar-column-2 ul {
    list-style-type: none;
    padding: 0px;
}

#sidebar-column-1 ul li,
#sidebar-column-2 ul li {
    list-style-type: none;
    padding: 4px 0px;
}

#sidebar-column-1 ul a,
#sidebar-column-2 ul a {
    color: lavender;
    text-decoration: none;
}

#sidebar-column-1 {
    margin-left: 24px;
    grid-area: left-sidebar;
}

#primary-column {
    padding: 0px 36px;
    grid-area: main-area;
}

#primary-column .inner-content {
    max-width: 600px;
    margin: 0px auto;
}

#sidebar-column-2 {
    margin-right: 24px;
    grid-area: right-sidebar;
}

#sidebar-column-1 .inner-content,
#sidebar-column-2 .inner-content {
    background-color: plum;
    padding: 24px;
    border-radius: 4px;
}

#hero-1 {
    
}

#two-columns {
    display: flex;
}

#sidebar-content {
    background-color: lavender;
    width: 250px;
    order: 2;
}

#main-content {
    background-color: plum;
    flex: 1;
    order: 1;
}

.spacer {
    height: 100vh;
}

#hero-3 {
    background-image:url(../images/wall-e.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#hero-3 .hero-content {
    position: absolute;
    top: 10%;
    left: 15%;
}

#hero-3 h4 {
    font-size: 3vw;
    margin: 0px tvw 0px 0px;
}

#hero-3 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 9vh 9vw 10vh 0px;
}

#footer {
    background: linear-gradient(to bottom, lavender,lavender);
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar a {
    display:block;
    padding: 8px 0px;
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
}

.light-container {
    background-color: lavender;
    padding: 36px 0px;
}

.dark-container {
    background-color: grey;
    color: black;
    padding: 36px 0px;
}

.center-column {
    padding: 24px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

.side-by-side {
    display: inline-block;
    width: 100%;
}

.side-by-side img {
    padding-left: 36px;
    width: 100%;
}
