/* Drill 1 - Write your code solution below */
#d1-div1 {
    margin-bottom: 24px;
}


/* Drill 2 - Write your code solution below */
#d2-div1 {
    margin-bottom: 24px;
}

#d2-div3 {
    margin-top: 24px;
}


/* Drill 3 - Write your code solution below */
#d3-div2 {
    margin-top: 24px;
}


/* Drill 4 - Write your code solution below */
#d4-div1{
    margin-bottom: 24px;
}

#d4-div3{
    margin-top: 24px;
}

/* Drill 5 - Write your code solution below */
#d5-h1-1 {
    margin-bottom: 24px;
}

#d5-h5 {
    margin-bottom: 0px;
}


/* Drill 6 - Write your code solution below */
#d6-div1 {
    margin-right: 24px;
}

#d6-div2 {
    margin-right: 24px;
}

#d6-div3 {
    margin-right: 24px;
}

#d6-div4 {
    margin-right: 24px;
}
/* Drill 7 - Write your code solution below */
#d7-div1{
    margin-right: 60px;

}

#d7-div2{
    margin-right: 60px;
}

#d7-div3 {
    margin-right: 60px;
}
