* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 450px 250px 1fr;
    grid-template-areas: ".content sidebar.";
    margin: 36px 0px;
}

#sidebar-content {
    grid-area: sidebar;
    padding: 18px;
}

#sidebar-content h2 {
    background-color: crimson;
    color: whitesmoke;
    padding: 12px;
    font-size: 18px;
    margin: 0px;
}

#sidebar-content ul {
    background-color: beige;
    margin: 0px 0px 36px;
    border: 1px solid crimson;
    list-style-type: none;
    padding: 0px 12px;
    margin-bottom: 36px;
}

#sidebar-content a {
    text-decoration: one;
    color: crimson;
}

#sidebar-content li {
    padding:8px 0px;
    border-bottom: 1px solid crimson;
}

#sidebar-content li:last-child {
    border-bottom: 0px;
}

#sidebar-content li:hover {
    background-color: darkred;
    color: whitesmoke;
    padding: 16px;
}

#main-content {
    Margin: 0px 36px;
    grid-area: content;
}